In [1]:
import pandas as pd

In [6]:
! ls

README.md        demo_cbam.sh     main.py          trainer.py
README2.md       experiment       model            utils
__pycache__      inference.ipynb  option.py
data             inference.py     requirements.txt
demo.sh          loss             run_inference.sh

In [5]:
! rm -rf csv_test.csv

In [3]:
# read 
data = pd.read_csv('csv_test.csv',header=None)
data

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,4,569,1.037577,1365,1.021669,1359,0.994531,1277,0.994014,1366,...,309,0.760955,6,0.757213,695,0.747482,1892,0.718402,5,0.683794
1,307,1365,1.051894,1366,1.023202,1277,1.020960,569,1.015718,1817,...,1888,0.837090,5,0.823169,1892,0.801036,306,0.586959,309,0.499539
2,576,1366,1.108611,1817,1.090967,1820,1.074662,6,1.072943,1637,...,569,0.966074,1359,0.958341,777,0.947829,1278,0.939739,588,0.884583